__pycache__
.vscode
nerual-fly-simulink/slprj
logs_random_profiles
result
result_pinn_online
logs_test_fig8
ablation.py
test_wind/simpleflight_fig8_adaptive_5windX_ctrl.png
test_wind/simpleflight_fig8_adaptive_5windX_track.png
test_wind/simpleflight_fig8_adaptive_5windX_traj2d.png
test_wind/simpleflight_fig8_adaptive_5windX_traj3d.png
test_wind/simpleflight_fig8_adaptive_5windX.csv
test_wind/simpleflight_fig8_adaptive_5windXY_ctrl.png
test_wind/simpleflight_fig8_adaptive_5windXY_track.png
test_wind/simpleflight_fig8_adaptive_5windXY_traj2d.png
test_wind/simpleflight_fig8_adaptive_5windXY_traj3d.png
test_wind/simpleflight_fig8_adaptive_5windXY.csv
test_wind/simpleflight_fig8_adaptive_5windY_ctrl.png
test_wind/simpleflight_fig8_adaptive_5windY_track.png
test_wind/simpleflight_fig8_adaptive_5windY_traj2d.png
test_wind/simpleflight_fig8_adaptive_5windY_traj3d.png
test_wind/simpleflight_fig8_adaptive_5windY.csv
test_wind/simpleflight_fig8_adaptive_10windX_ctrl.png
test_wind/simpleflight_fig8_adaptive_10windX_track.png
test_wind/simpleflight_fig8_adaptive_10windX_traj2d.png
test_wind/simpleflight_fig8_adaptive_10windX_traj3d.png
test_wind/simpleflight_fig8_adaptive_10windX.csv
test_wind/simpleflight_fig8_adaptive_10windXY_ctrl.png
test_wind/simpleflight_fig8_adaptive_10windXY_track.png
test_wind/simpleflight_fig8_adaptive_10windXY_traj2d.png
test_wind/simpleflight_fig8_adaptive_10windXY_traj3d.png
test_wind/simpleflight_fig8_adaptive_10windXY.csv
test_wind/simpleflight_fig8_adaptive_10windY_ctrl.png
test_wind/simpleflight_fig8_adaptive_10windY_track.png
test_wind/simpleflight_fig8_adaptive_10windY_traj2d.png
test_wind/simpleflight_fig8_adaptive_10windY_traj3d.png
test_wind/simpleflight_fig8_adaptive_10windY.csv
test_wind/simpleflight_fig8_adaptive_15windX_ctrl.png
test_wind/simpleflight_fig8_adaptive_15windX_track.png
test_wind/simpleflight_fig8_adaptive_15windX_traj2d.png
test_wind/simpleflight_fig8_adaptive_15windX_traj3d.png
test_wind/simpleflight_fig8_adaptive_15windX.csv
test_wind/simpleflight_fig8_adaptive_15windXY_ctrl.png
test_wind/simpleflight_fig8_adaptive_15windXY_track.png
test_wind/simpleflight_fig8_adaptive_15windXY_traj2d.png
test_wind/simpleflight_fig8_adaptive_15windXY_traj3d.png
test_wind/simpleflight_fig8_adaptive_15windXY.csv
test_wind/simpleflight_fig8_adaptive_15windY_ctrl.png
test_wind/simpleflight_fig8_adaptive_15windY_track.png
test_wind/simpleflight_fig8_adaptive_15windY_traj2d.png
test_wind/simpleflight_fig8_adaptive_15windY_traj3d.png
test_wind/simpleflight_fig8_adaptive_15windY.csv
test_wind/simpleflight_fig8_adaptive_nowind_ctrl.png
test_wind/simpleflight_fig8_adaptive_nowind_track.png
test_wind/simpleflight_fig8_adaptive_nowind_traj2d.png
test_wind/simpleflight_fig8_adaptive_nowind_traj3d.png
test_wind/simpleflight_fig8_adaptive_nowind.csv
test_wind/wind_effect_comparison.png
old_result/result.txt
old_result/no_meta_results/simpleflight_fig8_adaptive_5wind_ctrl.png
old_result/no_meta_results/simpleflight_fig8_adaptive_5wind_track.png
old_result/no_meta_results/simpleflight_fig8_adaptive_5wind_traj2d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_5wind_traj3d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_10wind_ctrl.png
old_result/no_meta_results/simpleflight_fig8_adaptive_10wind_track.png
old_result/no_meta_results/simpleflight_fig8_adaptive_10wind_traj2d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_10wind_traj3d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_12wind_ctrl.png
old_result/no_meta_results/simpleflight_fig8_adaptive_12wind_track.png
old_result/no_meta_results/simpleflight_fig8_adaptive_12wind_traj2d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_12wind_traj3d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_13p5wind_ctrl.png
old_result/no_meta_results/simpleflight_fig8_adaptive_13p5wind_track.png
old_result/no_meta_results/simpleflight_fig8_adaptive_13p5wind_traj2d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_13p5wind_traj3d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_15wind_ctrl.png
old_result/no_meta_results/simpleflight_fig8_adaptive_15wind_track.png
old_result/no_meta_results/simpleflight_fig8_adaptive_15wind_traj2d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_15wind_traj3d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_18sint_ctrl.png
old_result/no_meta_results/simpleflight_fig8_adaptive_18sint_track.png
old_result/no_meta_results/simpleflight_fig8_adaptive_18sint_traj2d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_18sint_traj3d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_nowind_ctrl.png
old_result/no_meta_results/simpleflight_fig8_adaptive_nowind_track.png
old_result/no_meta_results/simpleflight_fig8_adaptive_nowind_traj2d.png
old_result/no_meta_results/simpleflight_fig8_adaptive_nowind_traj3d.png
old_result/no_online_results/simpleflight_fig8_adaptive_5wind_ctrl.png
old_result/no_online_results/simpleflight_fig8_adaptive_5wind_track.png
old_result/no_online_results/simpleflight_fig8_adaptive_5wind_traj2d.png
old_result/no_online_results/simpleflight_fig8_adaptive_5wind_traj3d.png
old_result/no_online_results/simpleflight_fig8_adaptive_10wind_ctrl.png
old_result/no_online_results/simpleflight_fig8_adaptive_10wind_track.png
old_result/no_online_results/simpleflight_fig8_adaptive_10wind_traj2d.png
old_result/no_online_results/simpleflight_fig8_adaptive_10wind_traj3d.png
old_result/no_online_results/simpleflight_fig8_adaptive_12wind_ctrl.png
old_result/no_online_results/simpleflight_fig8_adaptive_12wind_track.png
old_result/no_online_results/simpleflight_fig8_adaptive_12wind_traj2d.png
old_result/no_online_results/simpleflight_fig8_adaptive_12wind_traj3d.png
old_result/no_online_results/simpleflight_fig8_adaptive_13p5wind_ctrl.png
old_result/no_online_results/simpleflight_fig8_adaptive_13p5wind_track.png
old_result/no_online_results/simpleflight_fig8_adaptive_13p5wind_traj2d.png
old_result/no_online_results/simpleflight_fig8_adaptive_13p5wind_traj3d.png
old_result/no_online_results/simpleflight_fig8_adaptive_15wind_ctrl.png
old_result/no_online_results/simpleflight_fig8_adaptive_15wind_track.png
old_result/no_online_results/simpleflight_fig8_adaptive_15wind_traj2d.png
old_result/no_online_results/simpleflight_fig8_adaptive_15wind_traj3d.png
old_result/no_online_results/simpleflight_fig8_adaptive_18sint_ctrl.png
old_result/no_online_results/simpleflight_fig8_adaptive_18sint_track.png
old_result/no_online_results/simpleflight_fig8_adaptive_18sint_traj2d.png
old_result/no_online_results/simpleflight_fig8_adaptive_18sint_traj3d.png
old_result/no_online_results/simpleflight_fig8_adaptive_nowind_ctrl.png
old_result/no_online_results/simpleflight_fig8_adaptive_nowind_track.png
old_result/no_online_results/simpleflight_fig8_adaptive_nowind_traj2d.png
old_result/no_online_results/simpleflight_fig8_adaptive_nowind_traj3d.png
ablation_result/error_analysis.csv
ablation_result/baseline_fig8_10sint/baseline_fig8_10sint_ctrl.png
ablation_result/baseline_fig8_10sint/baseline_fig8_10sint_track.png
ablation_result/baseline_fig8_10sint/baseline_fig8_10sint_traj2d.png
ablation_result/baseline_fig8_10sint/baseline_fig8_10sint_traj3d.png
ablation_result/baseline_fig8_10sint/baseline_fig8_10sint.csv
ablation_result/baseline_fig8_10sint/metrics.csv
ablation_result/baseline_fig8_10wind/baseline_fig8_10wind_ctrl.png
ablation_result/baseline_fig8_10wind/baseline_fig8_10wind_track.png
ablation_result/baseline_fig8_10wind/baseline_fig8_10wind_traj2d.png
ablation_result/baseline_fig8_10wind/baseline_fig8_10wind_traj3d.png
ablation_result/baseline_fig8_10wind/baseline_fig8_10wind.csv
ablation_result/baseline_fig8_10wind/metrics.csv
ablation_result/baseline_fig8_12wind/baseline_fig8_12wind_ctrl.png
ablation_result/baseline_fig8_12wind/baseline_fig8_12wind_track.png
ablation_result/baseline_fig8_12wind/baseline_fig8_12wind_traj2d.png
ablation_result/baseline_fig8_12wind/baseline_fig8_12wind_traj3d.png
ablation_result/baseline_fig8_12wind/baseline_fig8_12wind.csv
ablation_result/baseline_fig8_12wind/metrics.csv
ablation_result/baseline_fig8_13p5wind/baseline_fig8_13p5wind_ctrl.png
ablation_result/baseline_fig8_13p5wind/baseline_fig8_13p5wind_track.png
ablation_result/baseline_fig8_13p5wind/baseline_fig8_13p5wind_traj2d.png
ablation_result/baseline_fig8_13p5wind/baseline_fig8_13p5wind_traj3d.png
ablation_result/baseline_fig8_13p5wind/baseline_fig8_13p5wind.csv
ablation_result/baseline_fig8_13p5wind/metrics.csv
ablation_result/baseline_fig8_15wind/baseline_fig8_15wind_ctrl.png
ablation_result/baseline_fig8_15wind/baseline_fig8_15wind_track.png
ablation_result/baseline_fig8_15wind/baseline_fig8_15wind_traj2d.png
ablation_result/baseline_fig8_15wind/baseline_fig8_15wind_traj3d.png
ablation_result/baseline_fig8_15wind/baseline_fig8_15wind.csv
ablation_result/baseline_fig8_15wind/metrics.csv
ablation_result/baseline_fig8_5wind/baseline_fig8_5wind_ctrl.png
ablation_result/baseline_fig8_5wind/baseline_fig8_5wind_track.png
ablation_result/baseline_fig8_5wind/baseline_fig8_5wind_traj2d.png
ablation_result/baseline_fig8_5wind/baseline_fig8_5wind_traj3d.png
ablation_result/baseline_fig8_5wind/baseline_fig8_5wind.csv
ablation_result/baseline_fig8_5wind/metrics.csv
ablation_result/baseline_fig8_nowind/baseline_fig8_nowind_ctrl.png
ablation_result/baseline_fig8_nowind/baseline_fig8_nowind_track.png
ablation_result/baseline_fig8_nowind/baseline_fig8_nowind_traj2d.png
ablation_result/baseline_fig8_nowind/baseline_fig8_nowind_traj3d.png
ablation_result/baseline_fig8_nowind/baseline_fig8_nowind.csv
ablation_result/baseline_fig8_nowind/metrics.csv
ablation_result/meta_offline_fig8_10sint/meta_offline_fig8_10sint_ctrl.png
ablation_result/meta_offline_fig8_10sint/meta_offline_fig8_10sint_track.png
ablation_result/meta_offline_fig8_10sint/meta_offline_fig8_10sint_traj2d.png
ablation_result/meta_offline_fig8_10sint/meta_offline_fig8_10sint_traj3d.png
ablation_result/meta_offline_fig8_10sint/meta_offline_fig8_10sint.csv
ablation_result/meta_offline_fig8_10sint/metrics.csv
ablation_result/meta_offline_fig8_10wind/meta_offline_fig8_10wind_ctrl.png
ablation_result/meta_offline_fig8_10wind/meta_offline_fig8_10wind_track.png
ablation_result/meta_offline_fig8_10wind/meta_offline_fig8_10wind_traj2d.png
ablation_result/meta_offline_fig8_10wind/meta_offline_fig8_10wind_traj3d.png
ablation_result/meta_offline_fig8_10wind/meta_offline_fig8_10wind.csv
ablation_result/meta_offline_fig8_10wind/metrics.csv
ablation_result/meta_offline_fig8_12wind/meta_offline_fig8_12wind_ctrl.png
ablation_result/meta_offline_fig8_12wind/meta_offline_fig8_12wind_track.png
ablation_result/meta_offline_fig8_12wind/meta_offline_fig8_12wind_traj2d.png
ablation_result/meta_offline_fig8_12wind/meta_offline_fig8_12wind_traj3d.png
ablation_result/meta_offline_fig8_12wind/meta_offline_fig8_12wind.csv
ablation_result/meta_offline_fig8_12wind/metrics.csv
ablation_result/meta_offline_fig8_13p5wind/meta_offline_fig8_13p5wind_ctrl.png
ablation_result/meta_offline_fig8_13p5wind/meta_offline_fig8_13p5wind_track.png
ablation_result/meta_offline_fig8_13p5wind/meta_offline_fig8_13p5wind_traj2d.png
ablation_result/meta_offline_fig8_13p5wind/meta_offline_fig8_13p5wind_traj3d.png
ablation_result/meta_offline_fig8_13p5wind/meta_offline_fig8_13p5wind.csv
ablation_result/meta_offline_fig8_13p5wind/metrics.csv
ablation_result/meta_offline_fig8_15wind/meta_offline_fig8_15wind_ctrl.png
ablation_result/meta_offline_fig8_15wind/meta_offline_fig8_15wind_track.png
ablation_result/meta_offline_fig8_15wind/meta_offline_fig8_15wind_traj2d.png
ablation_result/meta_offline_fig8_15wind/meta_offline_fig8_15wind_traj3d.png
ablation_result/meta_offline_fig8_15wind/meta_offline_fig8_15wind.csv
ablation_result/meta_offline_fig8_15wind/metrics.csv
ablation_result/meta_offline_fig8_5wind/meta_offline_fig8_5wind_ctrl.png
ablation_result/meta_offline_fig8_5wind/meta_offline_fig8_5wind_track.png
ablation_result/meta_offline_fig8_5wind/meta_offline_fig8_5wind_traj2d.png
ablation_result/meta_offline_fig8_5wind/meta_offline_fig8_5wind_traj3d.png
ablation_result/meta_offline_fig8_5wind/meta_offline_fig8_5wind.csv
ablation_result/meta_offline_fig8_5wind/metrics.csv
ablation_result/meta_offline_fig8_nowind/meta_offline_fig8_nowind_ctrl.png
ablation_result/meta_offline_fig8_nowind/meta_offline_fig8_nowind_track.png
ablation_result/meta_offline_fig8_nowind/meta_offline_fig8_nowind_traj2d.png
ablation_result/meta_offline_fig8_nowind/meta_offline_fig8_nowind_traj3d.png
ablation_result/meta_offline_fig8_nowind/meta_offline_fig8_nowind.csv
ablation_result/meta_offline_fig8_nowind/metrics.csv
ablation_result/meta_online_fig8_10wind/meta_online_fig8_10wind_ctrl.png
ablation_result/meta_online_fig8_10wind/meta_online_fig8_10wind_track.png
ablation_result/meta_online_fig8_10wind/meta_online_fig8_10wind_traj2d.png
ablation_result/meta_online_fig8_10wind/meta_online_fig8_10wind_traj3d.png
ablation_result/meta_online_fig8_10wind/meta_online_fig8_10wind.csv
ablation_result/meta_online_fig8_10wind/metrics.csv
ablation_result/meta_online_fig8_12wind/meta_online_fig8_12wind_ctrl.png
ablation_result/meta_online_fig8_12wind/meta_online_fig8_12wind_track.png
ablation_result/meta_online_fig8_12wind/meta_online_fig8_12wind_traj2d.png
ablation_result/meta_online_fig8_12wind/meta_online_fig8_12wind_traj3d.png
ablation_result/meta_online_fig8_12wind/meta_online_fig8_12wind.csv
ablation_result/meta_online_fig8_12wind/metrics.csv
ablation_result/meta_online_fig8_13p5wind/meta_online_fig8_13p5wind_ctrl.png
ablation_result/meta_online_fig8_13p5wind/meta_online_fig8_13p5wind_track.png
ablation_result/meta_online_fig8_13p5wind/meta_online_fig8_13p5wind_traj2d.png
ablation_result/meta_online_fig8_13p5wind/meta_online_fig8_13p5wind_traj3d.png
ablation_result/meta_online_fig8_13p5wind/meta_online_fig8_13p5wind.csv
ablation_result/meta_online_fig8_13p5wind/metrics.csv
ablation_result/meta_online_fig8_15wind/meta_online_fig8_15wind_ctrl.png
ablation_result/meta_online_fig8_15wind/meta_online_fig8_15wind_track.png
ablation_result/meta_online_fig8_15wind/meta_online_fig8_15wind_traj2d.png
ablation_result/meta_online_fig8_15wind/meta_online_fig8_15wind_traj3d.png
ablation_result/meta_online_fig8_15wind/meta_online_fig8_15wind.csv
ablation_result/meta_online_fig8_15wind/metrics.csv
ablation_result/meta_online_fig8_5wind/meta_online_fig8_5wind_ctrl.png
ablation_result/meta_online_fig8_5wind/meta_online_fig8_5wind_track.png
ablation_result/meta_online_fig8_5wind/meta_online_fig8_5wind_traj2d.png
ablation_result/meta_online_fig8_5wind/meta_online_fig8_5wind_traj3d.png
ablation_result/meta_online_fig8_5wind/meta_online_fig8_5wind.csv
ablation_result/meta_online_fig8_5wind/metrics.csv
ablation_result/meta_online_fig8_nowind/meta_online_fig8_nowind_ctrl.png
ablation_result/meta_online_fig8_nowind/meta_online_fig8_nowind_track.png
ablation_result/meta_online_fig8_nowind/meta_online_fig8_nowind_traj2d.png
ablation_result/meta_online_fig8_nowind/meta_online_fig8_nowind_traj3d.png
ablation_result/meta_online_fig8_nowind/meta_online_fig8_nowind.csv
ablation_result/meta_online_fig8_nowind/metrics.csv
test_wind/simpleflight_fig8_adaptive_5windX_ctrl.png
test_wind/simpleflight_fig8_adaptive_5windX_track.png
test_wind/simpleflight_fig8_adaptive_5windX_traj2d.png
test_wind/simpleflight_fig8_adaptive_5windX_traj3d.png
test_wind/simpleflight_fig8_adaptive_5windX.csv
test_wind/simpleflight_fig8_adaptive_5windXY_ctrl.png
test_wind/simpleflight_fig8_adaptive_5windXY_track.png
test_wind/simpleflight_fig8_adaptive_5windXY_traj2d.png
test_wind/simpleflight_fig8_adaptive_5windXY_traj3d.png
test_wind/simpleflight_fig8_adaptive_5windXY.csv
test_wind/simpleflight_fig8_adaptive_5windY_ctrl.png
test_wind/simpleflight_fig8_adaptive_5windY_track.png
test_wind/simpleflight_fig8_adaptive_5windY_traj2d.png
test_wind/simpleflight_fig8_adaptive_5windY_traj3d.png
test_wind/simpleflight_fig8_adaptive_5windY.csv
test_wind/simpleflight_fig8_adaptive_10windX_ctrl.png
test_wind/simpleflight_fig8_adaptive_10windX_track.png
test_wind/simpleflight_fig8_adaptive_10windX_traj2d.png
test_wind/simpleflight_fig8_adaptive_10windX_traj3d.png
test_wind/simpleflight_fig8_adaptive_10windX.csv
test_wind/simpleflight_fig8_adaptive_10windXY_ctrl.png
test_wind/simpleflight_fig8_adaptive_10windXY_track.png
test_wind/simpleflight_fig8_adaptive_10windXY_traj2d.png
test_wind/simpleflight_fig8_adaptive_10windXY_traj3d.png
test_wind/simpleflight_fig8_adaptive_10windXY.csv
test_wind/simpleflight_fig8_adaptive_10windY_ctrl.png
test_wind/simpleflight_fig8_adaptive_10windY_track.png
test_wind/simpleflight_fig8_adaptive_10windY_traj2d.png
test_wind/simpleflight_fig8_adaptive_10windY_traj3d.png
test_wind/simpleflight_fig8_adaptive_10windY.csv
test_wind/simpleflight_fig8_adaptive_15windX_ctrl.png
test_wind/simpleflight_fig8_adaptive_15windX_track.png
test_wind/simpleflight_fig8_adaptive_15windX_traj2d.png
test_wind/simpleflight_fig8_adaptive_15windX_traj3d.png
test_wind/simpleflight_fig8_adaptive_15windX.csv
test_wind/simpleflight_fig8_adaptive_15windXY_ctrl.png
test_wind/simpleflight_fig8_adaptive_15windXY_track.png
test_wind/simpleflight_fig8_adaptive_15windXY_traj2d.png
test_wind/simpleflight_fig8_adaptive_15windXY_traj3d.png
test_wind/simpleflight_fig8_adaptive_15windXY.csv
test_wind/simpleflight_fig8_adaptive_15windY_ctrl.png
test_wind/simpleflight_fig8_adaptive_15windY_track.png
test_wind/simpleflight_fig8_adaptive_15windY_traj2d.png
test_wind/simpleflight_fig8_adaptive_15windY_traj3d.png
test_wind/simpleflight_fig8_adaptive_15windY.csv
test_wind/simpleflight_fig8_adaptive_nowind_ctrl.png
test_wind/simpleflight_fig8_adaptive_nowind_track.png
test_wind/simpleflight_fig8_adaptive_nowind_traj2d.png
test_wind/simpleflight_fig8_adaptive_nowind_traj3d.png
test_wind/simpleflight_fig8_adaptive_nowind.csv
test_wind/wind_effect_comparison.png
ablation_result/meta_online_fig8_10sint/meta_online_fig8_10sint_ctrl.png
ablation_result/meta_online_fig8_10sint/meta_online_fig8_10sint_track.png
ablation_result/meta_online_fig8_10sint/meta_online_fig8_10sint_traj2d.png
ablation_result/meta_online_fig8_10sint/meta_online_fig8_10sint_traj3d.png
ablation_result/meta_online_fig8_10sint/meta_online_fig8_10sint.csv
ablation_result/meta_online_fig8_10sint/metrics.csv
